@use '/src/styles/constants/colors';
@use '/src/styles/mixins/position';
@use '/src/styles/mixins/responsive';

.app {
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: colors.$BACK;

  .mainWrap {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    padding-top: 250px;

    .title {
      margin-bottom: 22px;
      font-size: 32px;
      font-weight: 600;
      line-height: 1.5;
      text-align: center;
    }

    .inputWrap {
      position: relative;
      display: flex;

      input[type='text'] {
        width: 550px;
        padding: 22px 53px;
        font-size: 17px;
        background-color: colors.$WHITE;
        border-top-left-radius: 35px;
        border-bottom-left-radius: 35px;

        &::placeholder {
          color: colors.$GRAYA;
        }
      }

      .icon {
        @include position.absolute(22px auto auto 24px);
        width: 18px;
      }

      button {
        width: 100px;
        padding: 23px;
        font-size: 18px;
        font-weight: bold;
        color: colors.$WHITE;
        background-color: colors.$BLUE;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
      }
    }

    .mInputWrap {
      display: none;
    }

    .searchKeywordWrap {
      width: 650px;
      padding: 22px;
      margin-top: 8px;
      background-color: colors.$WHITE;
      border-radius: 20px;

      .state {
        font-size: 13px;
        font-weight: 400;
        color: colors.$GRAY6;
      }
    }
    @include responsive.between(M, MD) {
      .title {
        font-size: 22px;
      }

      .inputWrap {
        display: none;
      }

      .mInputWrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 95%;
        padding: 8px 20px;
        background-color: colors.$WHITE;
        border-radius: 25px;
        box-shadow: 2px 2px 2px rgba(colors.$SHADOW, 0.2);

        span {
          font-size: 14px;
          font-weight: 500;
          color: colors.$GRAYA;
        }

        .icon {
          width: 20px;
        }
      }

      .searchKeywordWrap {
        display: none;
      }
    }
  }
}
